:root {
  --app-header-height: 40px; 
  --app-footer-height: 40px; 
  --message-bg-color: #eee;
  --message-bg-color-right: #0182ff;
  --message-color: #676767;
  --message-color-right: white;
}

html, body {
  height: 100%;
}
